<div class="container mt-5">
    <h2>{{header}}</h2>
    </div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control"  [(ngModel)]="student.name" name="name">
         </div>
         <div class="form-group">
            <label for="">Phoneno</label>
            <input type="text" class="form-control" [(ngModel)]="student.phoneno" name="phoneno">
         </div>
         <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" [(ngModel)]="student.email" name="email">
         </div>
         <div class="form-group">
            <label for="">Address</label>
            <input type="textarea class="form-control" [(ngModel)]="student.address"  name="address">
         </div>
         <div class="form-group">
            <label for="">DOB</label>
            <input type="text" class="form-control"  [(ngModel)]="student.dob" name="dob">
         </div>
         <div class="form-group">
             <label for="">Blood Group</label>
             <input type="text" class="form-control"  [(ngModel)]="student.bloodgroup" name="bloodgroup">
          </div>
          <div class="form-group">
             <label for="">Bank Account No</label>
             <input type="text" class="form-control" [(ngModel)]="student.bank_acc_no" name="bank_acc_no">
          </div>
          <div class="form-group">
             <label for="">PAN Card No</label>
             <input type="text" class="form-control" [(ngModel)]="student.pan_card_no" name="pan_card_no">
          </div>
        <div class="form-group">
            <button mat-button mat-dialog-close type="submit" class="btn btn-primary">Save</button>
            <button mat-flat-button mat-dialog-close class="btn btn-danger"> cancel</button>
         </div>
         
           
            
         
    </form>
